/* 
Colores fuentes
blue1:#19456B
blu2:#11698E
green1:#16C79A
white1: #FFFFFF
white2:#F8F1F1
*/

/* LAYOUT GENERICO */
body {
    font-family: 'Manrope', sans-serif;
    background-color: #f8f1f1;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    padding: 20px 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}

.btn-sm {
    padding: 12px 24px;
    color: #19456B;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
}

.btn-sm:hover {
    background-color: #16C79A;
    color: #f8f1f1;
}

.btn-primary {
    padding: 20px 40px;
    background-color: #16C79A;
    border-radius: 90px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    gap: 20px
}

.btn-primary:hover {
    background-color: #11698E;
}

.btn-outline {
    border: 2px solid #19456B;
    border-radius: 90px;
}

.overtitle {
    color: #16C79A;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}

.title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
}

/* ----------------------------------------------------------------------------------------------- */
/* LAYOUT HEADER */

.header {
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------------------------------------------------------------- */
/* LAYOUT HERO-SECTION */

.hero-container {
    padding: 0px 72px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 0px;
    gap: 10px;
}

.hero-text__title {
    color: #19456B;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
}

.hero-text__paragraph {
    color: #19456B;
    font-size: 20px;
    line-height: 28px;
    max-width: 549px;
    margin-bottom: 20px;
}

.hero-img {
    flex: 1;
    align-self: flex-end;
    margin-bottom: 48px;
}

.hero-img img {
    max-width: 100%;
}



/* --------------------------------------------------------------------------------------------------- */
/* LAYOUT SERVICES */

.services-container {
    background-color: #19456B;
    padding: 96px 72px;
}

.services-title {
    color: #f8f1f1;
    margin-top: 16px;
}

.service-list {
    display: flex;
    margin-top: 48px;
    gap: 32px;
}

.service-card {
    background-color: #11698E;
    border-radius: 32px;
}

.service-card img {
    width: 100%;
}
.service-card-text{
    padding:32px;
    gap:10px;
}

.service-card-text h3{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    margin-bottom: 8px;
}
.service-card-text p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}



/* ---------------------------------------------------------------------------------------------------- */
/* LAYOUT LOCATION */



/* --------------------------------------------------------------------------------------------------- */
/* LAYOUT FOOTER */

footer {
    background-color: #19456B;
    color: #FFFFFF;

    padding: 48px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #FFFFFF;
}

#footer-copyright {
    padding: 10px 0 5px 0;
    display: flex;
    font-size: 16px;
    line-height: 24px;
}


.footer-social-media {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-facebook:hover {
    color: #0066ff;
}

.footer-twitter:hover {
    color: #1d9bf0;
}

.footer-instagram:hover {
    color: #c62bce;
}


.footer-linkedin:hover,
.footer-github:hover {
    color: #16C79A;
}

#link-project a {
    /* color: #FFFFFF; */
    font-weight: 600;

    font-size: 16px;
    line-height: 24px;
}

#link-project a:hover {
    color: #16C79A;
}